/* 
 * Rôle     : Définit le style du pied de page
 * Auteur   : Mohamed OUMID
 * Date     : 22/01/2019
 */

.footer-infos li
{
    list-style-type : none;
}

.footer-infos li a
{
    text-decoration : none;
    color : inherit;
}
.footer-infos li a:focus
{
    text-decoration : none;
    color : inherit;
}
.footer-infos li a:active
{
    text-decoration : none;
    color : inherit;
}

.footer-infos li a:visited
{
    text-decoration : none;
    color : inherit;
}

.footer
{
    background-color : black;
    font-family : "Open sans", sans-serif;
    font-weight : lighter;
    padding : 0.0002em;
    color : white;
}

.footer-logos
{
    text-align : right;
    margin-top : 0.5em;
    padding-left : 10em;
}

.footer-social
{
    text-align : center;
    margin-top : 3em;
}

.footer-social-logos
{
    font-size : 2em;
}

.twitter, .facebook, .instagram, .snapchat
{
    display : inline;
    margin : 10px;
    color : orange;
}

.twitter:hover
{
    color : #00acee;
    margin : 20px;
}

.facebook:hover
{
    color : #3b5998 ;
    margin : 20px;
}

.snapchat:hover
{
    color : yellow;
    margin : 20px;
}

.instagram:hover
{
    color : violet;
    margin : 20px;
}
