/* 
 * Rôle     : Définit le style de la boîte à idées
 * Auteur   : Salim ZEMRI
 * Date     : 23/01/2019
 */

main
{
    margin-left : 10px;
    margin-right : 10px;
}

.row
{
    padding-bottom: 20px;
}

section
{
    margin-left: 20px;
}


aside
{
    position: relative;
    bottom: 260px;
    left: 800px;
}
