/* 
 * Rôle     : Définit le style de la boîte à idées
 * Auteur   : Salim ZEMRI
 * Date     : 23/01/2019
 */

main
{
    margin-left : 10px;
    margin-right : 10px;
}

.img-responsive
{
    margin-bottom : 30px;
}

.idea
{
    display : block;
    text-align : justify;
    margin-right : 10px;
    padding-right : 600px;
}

.ideatop
{
    margin-right : 10px;
}

.img-idea
{
    position : absolute;
    top : 100px;
    right : 90px;
}
    
.ideatop
{
    position : absolute;
    top : 380px;
    right : 350px;
    margin-bottom : 20px;
}
